* {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    max-height: 100%;
    margin: 0%;
    padding: 0%;
} 


.navbar {
    background-color: coral;

    & img {
        width: 200px;
        margin: 10px 0;
        margin-left: 500px;
    }
}

main {
    margin: 20px 10px;
    background-color: antiquewhite;

    & section {
        width: 310px;
        height: 450px;
        background-color: blue;
        display: inline-block;
        margin: 15px 20px;
        padding: 20px;

        & .capa {
            width: 320px;
            height: 210px;
            margin-bottom: 15px;
        }
        
        & .capa2 {
            width: 320px;
            height: 210px;
            margin-bottom: 15px;
            border-radius: 100px;
        }

        & h1 {
            margin-bottom: 10px;
            font-size: 35px;
        }
        
        & p {
            font-size: 20px;
            margin-bottom: 10px;
        }

        & button {
            margin-top: 90px;
            margin-left: 90px;
            padding: 12px;
            font-size: 20px;
        }
    }
}

footer {
    background-color: rgb(101, 101, 101);
    text-align: center;
    padding: 2% 0;
}