* {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    max-height: 100%;
    margin: 0%;
    padding: 0%;
} 


.navbar {
    background-color: coral;

    & img {
        width: 200px;
        margin: 10px 0;
        margin-left: 500px;
    }
}

main {
    margin: 30px 0;
    background-color: antiquewhite;

    & section {
        width: 350px;
        height: auto;
        background: rgb(215, 142, 142);
    }
}

footer {
    background-color: rgb(101, 101, 101);
    text-align: center;
    padding: 2% 0;
}