* {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    max-height: 100%;
    margin: 0%;
    padding: 0%;
} 


.navbar {
    background-color: coral;

    & img {
        width: 200px;
        margin: 10px 0;
        margin-left: 500px;
    }
}

main {
    margin: 15px 300px;
    background-color: antiquewhite;
    width: 600px;
    height: 1100px;
    text-align: center;

    & img {
        width: 520px;
        height: 410px;
        margin: 10px;
    }

    & h1 {
        font-size: 50px;

    }

    & p {
        font-size: 25px;
    }

    & .box {
        width: 580px;
        height: 350px;
        background-color: aquamarine;
        margin: 0px 10px;
        margin-top: 100px;
    }

    & button {
        padding: 20px;
        font-size: 20px;
        margin-top: 50px;
    }
}

footer {
    background-color: rgb(101, 101, 101);
    text-align: center;
    padding: 2% 0;
}