* {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    max-height: 100%;
    margin: 0%;
    padding: 0%;
} 


.navbar {
    background-color: coral;

    & img {
        width: 200px;
        margin: 10px 0;
        margin-left: 500px;
    }
}

main {
    margin: 15px 300px;
    background-color: antiquewhite;
    width: 600px;
    height: 1100px;
    text-align: center;

    & img {
        width: 550px;
        height: 410px;
        margin: 10px;
    }

    & h1 {
        font-size: 50px;

    }

    & p {
        font-size: 25px;
    }

    & .box {
        width: 580px;
        height: 350px;
        background-color: aquamarine;
        margin: 0px 10px;
        margin-top: 100px;
    }

    & button {
        padding: 20px;
        font-size: 20px;
        margin-top: 50px;
    }
}

#form-dinamico {
    display: none;
    position: fixed;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 9999;

    & input[type="text"] {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
    }
    
    & input, label {
        font-size: 20px;
    }

    & button {
        margin-top: 20px;
        padding: 16px 26px;
        font-size: 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    & button:hover {
        background-color: #0056b3;
    }

    &  #botaocancelar {
        background-color: rgba(239, 28, 28, 0.973);
        margin-left: 220px;
    }

    & #botaocancelar:hover {
        background-color: rgb(157, 16, 16)
    }
}


footer {
    background-color: rgb(101, 101, 101);
    text-align: center;
    padding: 2% 0;
}