* {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    max-height: 100%;
    margin: 0%;
    padding: 0%;
} 
header {
    text-align: center;

    & .navbar {
    padding: 1%;
    background-color: rgb(196, 196, 196);
    box-shadow: 2px 2px 2px rgba(22, 20, 20, 0.813);

        & img {
            width: 200px;
            margin: 0px;
        }
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

input[type="text"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #555;
}

a {
    color: #0055ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer a {
    color: #fff;
}

footer a:hover {
    text-decoration: underline;
}