* {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    max-height: 100%;
    margin: 0px; 
    padding: 0px;
}

body {
    background: rgb(180, 255, 189);
}
    
p {
    font-size: 20px;
}

.navbar {
    background-image: linear-gradient(180deg, rgb(46, 192, 44), rgb(50, 122, 64), rgb(22, 88, 20));
    color: white;
}

.navbar > h1 {
    padding-top: 10px;
    font-size: 35px;
}

.navbar h1, p {
    text-align: center;
    padding-bottom: 15px;
}

.navbar > ul > li {
    display: inline-block;
    margin: 5px;
    font-size: 30px;
}


main {
    max-width: 100%;
    max-height: 100%;
    background: white;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(137, 134, 134, 0.454);
}

img {
    margin: 2px 0;
}

main > .bugdroid {
    padding-left: 30%;
}
main > .dandroids, .irinabloc {
    width: 100%;
}

main > p {
    font-size: 30px;
    text-align: justify;
    text-indent: 1em;
}

main > h1 {
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(38, 107, 37);
}

#h1backg {
    background-image: linear-gradient(90deg, rgba(39, 172, 68, 0.403), rgba(80, 128, 80, 0.349), white);
    margin: 10px 0;
}


footer {
    width: 100px;
    height: 100px;
}