* {
    max-width: 100%;
    max-height: 100%;
    margin: 0px; 
    padding: 0px;
}

body {
    background: rgb(25, 212, 47);
}

nav {
    background-color: rgb(0, 0, 0);
}

main {
    background: white;
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 1px 1px 1px rgba(137, 134, 134, 0.454);

}

footer {
    top: 100px;
}