* {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    max-height: 100%;
    margin: 0px; 
    padding: 0px;
}

body {
    background: rgb(180, 255, 189);
}
    
p {
    font-size: 20px;
}

.navbar {
    background-image: linear-gradient(180deg, rgb(46, 192, 44), rgb(50, 122, 64), rgb(22, 88, 20));
    color: white;
}

.navbar > h1 {
    padding-top: 10px;
    font-size: 35px;
}

.navbar h1, p {
    text-align: center;
    padding-bottom: 15px;
}

.navbar > ul > li {
    display: inline-block;
    margin: 5px;
    font-size: 20px;
}

main {
    background: white;
    margin-left: 80px;
    margin-right: 80px;
    padding: 10px;
    box-shadow: 1px 1px 1px rgba(137, 134, 134, 0.454);
}

main > p {
    text-align: justify;
    text-indent: 1em;
}

footer {
    width: 100px;
    height: 100px;
}